
<h2>Add a State</h2>

<form id="new-state-form" method="post" action="/states">
    <label for="state-name">Name</label>
    <input type="text" id="state-name" name="Name">
    <br>
    <label for="state-abbreviation">Abbreviation</label>
    <input type="text" id="state-abbreviation" name="Abbreviation">
    <br>
    <button type="submit">Submit</button>
</form>